/***** ABOUT PAGE *****/
/***** BASE STYLES *****/

body {
  font-family: 'Indie Flower', cursive;
  color: #2b2b2b;
  background-color: #000000;
}

/***** GRID *****/
.full-width{
  width: 1200px;
}

.half-width{
  width: 600px;
  float: left;
}

header {
  color: #ffffff;
}

header h1 {
  font-size: 65px;
  padding: 0 0 10px 50px;
  margin-bottom: 0;
  font-weight: lighter;
}

header h2{
  font-size: 40px;
  padding-bottom: 0;
}

header h3{
  font-size: 20px;
}

nav{
  float: right;
  padding-top: 25px;
}

header nav ul{
  padding: 0 0 0 50px;
  margin-top: 0;
}

nav ul li{
  text-decoration: none;
  display: inline-block;
}

header ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  padding: 0 10px 0 10px;
}

#about{
  clear: both;
}

img{
  width: 500px;
  height: 500px;
  padding: 30px 0 0 50px;
}
